*{
	font-family: 'Josefin Sans';
}


div{
	background-color: yellow;
}

p{
	background-color: deeppink;
}

/*index1*/
.uno{
	height: 50px;
	margin: 0 auto;
}
.uno p{
	border: 1px solid black;
}
/*index2*/
.dos{
	margin: 0 auto;
	width: 150px;
	height: 50px;
	padding-left: 5px;
	margin-bottom: 10px;
}
/*index3*/
.tres, .cuatro{
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
}
#seccion{
	text-align: center;
}
/*index4*/
.cuatro{
	width: 150px;
	text-align: left;
	height: 50px;
}
/*index5*/
.cuadrado{
	width: 100px;
	height: 100px;
	margin-bottom: 5px;
}
.cuadro2{
	display: block;
	overflow: auto;
	background-color: blue;
	width: 340px;
	height: 120px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.divchico2{
	display: inline-block;
	float: left;
	background-color: lightblue;
	margin-top: 10px;
	margin-left: 10px;
}

.cuadro3{
	display: block;
	overflow: auto;
	width: 220px;
	height: 105px;
	background-color: white;
}

.divchico3{
	display: inline-block;
	float: left;
	background-color: purple;
	margin-right: 10PX;
}
.div1 {
	background-color: pink;
}
.div4 {
	background-color: blue;
}


